<div #ripple md-ripple class="ripple" [mdRippleDisabled]="true"></div>

<nav class="d-flex flex-row align-items-center pt-1 pb-3">
    <a routerLink="/buildings" class="c-red-hover border-right"
       (click)="navigate($event, '/buildings', colorService.colors.red)">
        <archi-heading [text]="'дома'" ></archi-heading>
    </a>
    <a routerLink="/styles" class="c-green-hover"
       (click)="navigate($event, '/styles', colorService.colors.green)">
        <archi-heading [text]="'стили'" ></archi-heading>
    </a>
    <a class="d-flex flex-column">
        <a routerLink="/" (click)="navigate($event, '/', colorService.colors.black)" class="border-bottom">
            <archi-heading [text]="'ArchiTeacher'" [size]="'big'"></archi-heading>
        </a>
        <div (click)="randomPage($event)">
            <archi-heading [text]="'случайная статья'" ></archi-heading>
        </div>
    </a>
    <a  routerLink="/architects" class="c-blue-hover border-right"
        (click)="navigate($event, '/architects', colorService.colors.blue)">
        <archi-heading [text]="'архитекторы'" ></archi-heading>
    </a>
    <a  routerLink="/elements" class="c-orange-hover"
        (click)="navigate($event, '/elements', colorService.colors.orange)">
        <archi-heading [text]="'элементы'" ></archi-heading>
    </a>
</nav>

<router-outlet></router-outlet>

<div class="conteiner-fluid" [ngStyle]="{'background-color':colorService.getCurrentColor()}">
<footer class="container text-white">
    <div class="row pt-5">
        <div class="col">
            <archi-heading [text]="'ArchiTeacher'" [size]="'big'"></archi-heading>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col">
            <archi-heading [size]="'small'" [sans]="true" [text]="'ваш персональный учитель архитектуры'"></archi-heading>
        </div>
    </div>
    <div class="row underline-white pb-5">
        <div class="col-3">
            <a routerLink="/buildings"
               (click)="navigate($event, '/buildings', colorService.colors.red)">
                <archi-heading [align]="'left'" [text]="'дома'" ></archi-heading>
            </a>
            <a routerLink="/styles"
               (click)="navigate($event, '/styles', colorService.colors.green)">
                <archi-heading [align]="'left'" [text]="'стили'" ></archi-heading>
            </a>
            <a  routerLink="/architects"
                (click)="navigate($event, '/architects', colorService.colors.blue)">
                <archi-heading [align]="'left'" [text]="'архитекторы'" ></archi-heading>
            </a>
            <a  routerLink="/elements"
                (click)="navigate($event, '/elements', colorService.colors.orange)">
                <archi-heading [align]="'left'" [text]="'элементы'" ></archi-heading>
            </a>
        </div>
        <div class="col-3">
            <a routerLink="/"
            (click)="navigate($event, '/', colorService.colors.black)">
                <archi-heading [align]="'left'" [text]="'о проекте'"></archi-heading>
            </a>
            <a routerLink="/about"
            (click)="navigate($event, '/about', colorService.colors.black)">
                <archi-heading [align]="'left'" [text]="'об авторах'"></archi-heading>
            </a>
        </div>
        <div class="col-3">
            <archi-heading [align]="'left'" [text]="'android'"></archi-heading>
        </div>
        <div class="col-3">
            <archi-heading [align]="'left'" [text]="'архив'"></archi-heading>
            <p class="mb-0">все архивные фотографии взяты с сайта</p>
            <a href="https://pastvu.com"><archi-heading [align]="'left'" [size]="'small'" [condensed]="true" [text]="'pastvu.com'"></archi-heading></a>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <archi-heading [size]="'small'" [text]="'&copy; Москва, 2017'" [sans]="true"></archi-heading>
        </div>
    </div>
</footer>
</div>
