.border-special{
    border:1px solid black;
    border-bottom:transparent;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.style-fact p{
    font-family:"Open Sans Condensed", sans-serif;
    font-weight:bold;
    font-style:italic;
}